spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug