name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# 읽기 권한만
permissions:
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # 레포지터리 코드를 러너(가상머신)에 내려 받음
        uses: actions/checkout@v4
        # 러너에 자바 설치 JAVA_HOME 같은 환경 세팅
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'gradle'
        # 리눅스 파일 실행 권한
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        # 프로젝트에 포함된 Gradle Wrapper로 실행, 이전 빌드 산출물 삭제, 컴파일 + 테스트 + 패키징 한번에 수행
      - name: Build (includes tests)
        run: ./gradlew clean build